

.app {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh; 
}

.logo img {
    width: 100px;
    height: auto;
}

.tab-bar {
    background-color: gray;
}

.feed {
    overflow-y: scroll;
}

.blank {
    background-color: gray;
}

.brand {
    display: flex;;
}

